<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>RegServlet</servlet-name>
<servlet-class>test.RegServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegServlet</servlet-name>
<url-pattern>/reg</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>register.html</welcome-file>
</welcome-file-list>
</web-app>